---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: "%d %B %Y" 
        | replace: "January",   "janvier" 
        | replace: "February",  "février" 
        | replace: "March",     "mars" 
        | replace: "April",     "avril"
        | replace: "May",       "mai"
        | replace:"June",       "juin"
        | replace:"July",       "juillet"
        | replace:"August",     "août"
        | replace:"September",  "septembre"
        | replace:"October",    "octobre"
        | replace:"November",   "novembre"
        | replace:"December",   "décembre" }}
      </time>
      {% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>
  </header>

  {% include pagenav.html %}

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  {% include pagenav.html %}
</article>
